services:
  elastic:
    image: {{ elasticsearch_image }}
    restart: unless-stopped
    network_mode: host
    environment:
      ES_JAVA_OPTS: "{{ elasticsearch_elastic_java_opts }}"
      ELASTIC_PASSWORD: {{ elasticsearch_elastic_password }}
    volumes:
      - {{ elasticsearch_directory }}/es.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      - {{ elasticsearch_directory }}/host.crt:/usr/share/elasticsearch/config/host.crt:ro
      - {{ elasticsearch_directory }}/host.key:/usr/share/elasticsearch/config/host.key:ro
      - {{ elasticsearch_directory }}/ca.crt:/usr/share/elasticsearch/config/ca.crt:ro
      - {{ elasticsearch_directory_data }}:/usr/share/elasticsearch/data:rw
    ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
